<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210637947128-re76verfbhdlau3he5aejjnt4baviqf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210637947128-re76verfbhdlau3he5aejjnt4baviqf0</string>
	<key>API_KEY</key>
	<string>AIzaSyDi0-7JI83346LQZlZLHSZRokzVryF-bOI</string>
	<key>GCM_SENDER_ID</key>
	<string>210637947128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toey.handlingerror</string>
	<key>PROJECT_ID</key>
	<string>toey-playground</string>
	<key>STORAGE_BUCKET</key>
	<string>toey-playground.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210637947128:ios:45c3d7c4d5ec73d6653b0d</string>
</dict>
</plist>